<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-input type="text" [formControl]="autocomplete" debounce="1500" placeholder="Search a country by name"></ion-input>

  <ion-list *ngIf="countries.length">
    <ion-list-header>Countries of the world: </ion-list-header>
    <button ion-item *ngFor="let country of countries" (click)="openCountryModal(country)">
      <ion-label> {{ country.name }}</ion-label>
    </button>
  </ion-list>

</ion-content>
