<ion-header>

  <ion-navbar>
    <ion-buttons start style="float: left !important;">
      <button ion-button (click)="dismiss()" class="country-header">Close</button>
    </ion-buttons>
    <ion-title>{{ country.name }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-12>
        <img [src]="country.flag" class="modal-flag" />
      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4></ion-col>
      <ion-col col-6>
        <h4>{{ country.name}}</h4>
        <h5>({{ country.nativeName}})</h5>
      </ion-col>
      <ion-col col-4></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-12>
        <ion-list no-lines>
          <ion-list-header>Basic Facts</ion-list-header>
          <ion-item *ngIf="country.capital">Capital: <strong>{{ country.capital }}</strong></ion-item>
          <ion-item>Population: <strong>{{ country.population | number }}</strong></ion-item>
          <ion-item>Area: <strong>{{ country.area | number }}</strong> km<sup>2</sup></ion-item>
          <ion-item>Region: <strong>{{ country.region }}</strong></ion-item>
          <ion-item>
            Languages: <p *ngFor="let lang of country.languages">{{ lang.name }} ({{ lang.nativeName}}) </p>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-14>
        <ion-list>
          <ion-list-header>
            Neighboring Countries:
          </ion-list-header>
          <button ion-item *ngFor="let neighbor of neighbours" (click)="openCountryModal(neighbor)">
              {{ neighbor.name }}
          </button>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-12>

        <agm-map [latitude]="country.latlng[0]" [longitude]="country.latlng[1]" [zoom]="4">
          <agm-marker [latitude]="country.latlng[0]" [longitude]="country.latlng[1]"></agm-marker>
        </agm-map>

      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
